.outCss {
  color: yellowgreen;
}

section {
  width: 100%;
  height: auto;
  padding: 20px 10px;
  box-sizing: border-box;
}

h3,
p {
  margin: 0;
  padding-bottom: 10px;
}

.boxModel {
  height: 180px;
}

.boxModel div {
  width: 150px;
  height: 30px;
  padding: 20px;
  border: 2px solid #123456;
  margin: 10px;
  background: #ffff99;
  float: left;
}

.boxModel .left {
  box-sizing: content-box;
}

.boxModel .right {
  box-sizing: border-box;
}

.display div {
  width: 100px;
  height: 20px;
  border: 2px solid #250b6e;
  background: #33a1fc;
}

.display .inline {
  display: inline;
  background: #33c257;
}

.display .inline-block {
  display: inline-block;
  background: #d82727;
}

.display .none {
  display: none;
  background: #a0ad2c;
}

.float {
  width: 300px;
  height: 120px;
  border: 1px solid #aaa;
}

.float p {
  background-color: #ec6ae8;
  width: 100px;
  text-align: center;
}

.float .left {
  float: left;
}

.float .right {
  float: right;
}

.parent {
  margin-top: 20px;
  position: relative;
  width: 500px;
  height: 400px;
  background-color: #eee;
}

.absolute {
  position: absolute;
  top: 20px;
  left: 50px;
  background-color: #888;
}

.fixed {
  position: fixed;
  bottom: 15px;
  right: 15px;
  padding: 20px;
  background-color: #d4b796;
}

.flex {
  width: 250px;
}

.flex > div {
  overflow: hidden;
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  width: 150px;
}

.box {
  width: 50px;
  height: 50px;
  background-color: rgb(73, 201, 218);
  flex-grow: 1;
}

.container2 {
  /* 넘치는 경우 줄 바꿈 */
  flex-wrap: wrap;
}

.container3 {
  /* 디스플레이 방향 */
  flex-direction: column;
}

.container4 {
  align-items: stretch;
  flex-direction: column;
  height: 200px;
}

.container4 .stretch {
  height: 100px;
}

.div > span,
.sec > span {
  display: block;
  background-color: #123456;
}

.test {
  width: 100%;
  height: 250px;
  display: block;
}
